body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header {

}

.header h1 {
    font-size: 500%;
}

.info-links {
    padding-top: 10px;
}

.field-header {
    font-weight: 400;

}

.add-loan {
    background-color: #00a300;
    color: #ffffff;
}