body {
    background-color: #ffffff;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.header h1 {
    font-size: 500%;
}

#footer {

}

#controlBar {

    background-color: #dddddd;
}

.help {
    position: absolute;
    display: block;
    width: 17px;
    height: 17px;
    top: 7px;
    background-image: url('../img/help.png');
    cursor: pointer;
}

#totalMonthlyPaymentHelp {
    left: 225px;
}

#paymentTypeHelp {
    left: 145px;
}

.totalMonthlyPayment {
    width: 300px;
    position: absolute;
    left: 0px;
}

.fieldTitle {

}

.totalMonthlyPayment .fieldInput,
.loanBarInput .fieldInput {

}

.totalMonthlyPayment .fieldInput input {

}

.paymentType {
    position: absolute;
    width: 400px;
    left: 300px;
}

.paymentTypeSelect {

}

.paymentTypeSelect a {
    text-decoration: none;
}

.paymentTypeButton {

}

#snowball {

}

.selectedPaymentType {
    color: #fff;
    background-color: #2d3dac;
}

.unselectedPaymentType {
    color: #a4a4a4;
    background-color: #badbe0;
}

#paymentSlider {
    z-index: 2;
    display: block;
    width: 120px;
    height: 5px;
    left: 140px;
    top: 45px;
}

/*
 * Loan Bar Input
 */

#loanBarInputContainer {

}

#createLoan {

}

.loanBarInput {

}

.loanBarInput .destroyLoanX {

    background-image: url('../img/redX.png');
    cursor: pointer;
}

.loanBarInput .input {

}

.loanBarInput .fieldInput input {

}

.invalidField {
    background-color: #ffc1c1;
}

.loanBarInput .loanName {

}

.loanBarInput .currentBalance {

}

.loanBarInput .minMonthlyPayment {

}

.loanBarInput .interest {

}

.loanBarInput .loanName input {

}

.loanBarInput .currentBalance input {

}

.loanBarInput .minMonthlyPayment input {

}

.loanBarInput .interest input {

}

#loanBarInputContainer {

}

/*
 * Calculate
 */
a.commands {

    color: #121313;

    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
    position: relative;

}

a #calculate {

}

a #export {

}

/*
 * Result Bar
 */

#allResultsContainer {

}

.resultBarLink {
    text-decoration: none;
}

.resultBar {

    background-color: #273159;
    background-repeat: no-repeat;
    cursor: pointer;

}

.resultBar .loanName, .resultBar .payoffDate, .resultBar .totalInterest,
.resultBar .payoffDateText, .resultBar .totalInterestText {
    color: #fff;
    text-decoration: none;

}

.resultBar .loanName {

    font-size: 40px;
}

.resultBar .payoffDate, .resultBar .payoffDateText,
.resultBar .totalInterest, .resultBar .totalInterestText {

}

.resultBar .payoffDate {

}

.resultBar .payoffDateText {

}

.resultBar .totalInterest {

}

.resultBar .totalInterestText {

}

.resultBar .resultBarDetailsClick {

    color: #ffffff;
}

/*
 * Monthly Results
 */

.monthlyResults {

}

.monthlyResults td {

}

.monthlyResults td.month {

}

.monthlyResults td.principle {

}

.monthlyResults td.totalInterest {

}

.monthlyResults td.monthlyPayment {

}

.monthlyResults td.princPaid {

}

.monthlyResults td.interestPaid {

}

tr.alternateRows0 {
    /*background-color:#;*/
}

tr.alternateRows1 {

}

.tHead {
}

/*
 * Total Results
 */

#totalResults {

}

#totalResultsBar {

    background-color: #41a03f;
    background-repeat: no-repeat;
}

#totalResultsBar .name, #totalResultsBar .payoffDate, #totalResultsBar .totalInterest,
#totalResultsBar .payoffDateText, #totalResultsBar .totalInterestText {
    color: #fff;

}

#totalResultsBar .name {

    font-size: 40px;
}

#totalResultsBar .payoffDate, #totalResultsBar .payoffDateText,
#totalResultsBar .totalInterest, #totalResultsBar .totalInterestText {
}

#totalResultsBar .payoffDate {

    font-size: 22px;

}

#totalResultsBar .payoffDateText {

    font-size: 16px;

}

#totalResultsBar .totalInterest {

    font-size: 22px;

}

#totalResultsBar .totalInterestText {

    font-size: 16px;
}

/*
 * Info/Tooltips
 */

#error {
    background-color: #e35a5a;
    position: fixed;
    display: block;
    text-align: center;
    border: 1px #aaaaaa solid;
    top: 0px;
    z-index: 10;
    width: 800px;
    height: 50px;
}

#error p {
    margin: 0px 5px 5px 0px;
    color: #fff;
}

#info, #footerInfo {
    float: right;
    left: 600px;
}

#info {
    top: 5px;
    margin: 5px;
}

#footerInfo {
    margin: 75px 5px 5px 5px;
}

#info a, .link, .linkClose, .moreInfo a, .helpContent a, #footerInfo a {
    text-decoration: underline;
    color: #138198;
    cursor: pointer;
}

#moreInfo {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 5;
}

.moreInfo a {
    color: #fff;
}

.moreInfo {
    text-align: left;
    position: absolute;
    display: none;
    z-index: 5;
    top: 0px;
    left: 600px;
    width: 250px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
    font-size: 11px;
    background-color: #000000;
    color: #fff;
}

.moreInfo p {
    margin: 10px;
}

#helpPopup {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
}

.helpContent a {
    color: #000000;
}

.helpContent {
    text-align: left;
    position: absolute;
    display: none;
    z-index: 10;
    width: 200px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
    font-size: 11px;
    background-color: #010203;
    color: #fff;
}

.helpContent p {
    margin: 5px;
}

.smallHelpContent {
    position: absolute;
    display: none;
    z-index: 10;
    width: 40px;
    height: 10px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
    font-size: 11px;
    background-color: #93f0ff;
    color: #fff;
}

/*
 * Graph
 */

#graph, #graphTitle, #graphViewOptions {
    display: none;
}

#graph {
    width: 600px;
    height: 300px;
    left: 100px;
}

#graphTitle {
    font-size: 16px;
    color: #0d0d0d;
    margin: 20px auto;
    text-align: center;
}

#graphViewOptions {
    margin: 10px auto;
    font-size: 11px;
    color: #123b4e;
    text-align: center;
}

.graphView {
    cursor: pointer;
    text-decoration: underline;
}

.center {
    float: none;
    margin-left: 15%;
    margin-right: auto;
}
