body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

@-moz-document url-prefix()
    body, h1, h2, h3, h4, h5,p
      font-weight 300

.destroy-button
  font-size 31px

a
  &.destroy-button
    &:hover
      text-decoration none
      cursor pointer
      color #ff0000

#title
  font-size 50px

.input-error
  border-color #c70000

.input-success
  border-color #00a100

canvas
  width 100% !important
  height 300px
  max-height 800px

p,.btn
  font-weight 300
  font-size 15px

